
.dataContainer{

    position: absolute;
    width: 92%;
    height: 45.6%;
    left: 60px;
    top: 305px;
    background: radial-gradient(56.06% 101.22% at 133.87% -42.59%, #DEBCCD 64.2%, #0AB57F 73.22%, #0A0A0A 120%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

    
    backdrop-filter: blur(150px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 44px;
}
.data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    /* width: 100%; */
    height: 91%;
    top: 25px;
    left: 24px;
    margin-right: 50px;
    background: rgba(23, 24, 25, 0.6);
    border-radius: 46px;

}
.dataLeftSide {
    display: block;
    height: 100%;
    width: 30%;
}
.dataSummary {
    box-sizing: border-box;

    height: 70%;
    /* left: 84.05px;
    top: 330px; */

    background: rgba(22, 24, 25, 0.8);
    border: 1px solid #363636;
    backdrop-filter: blur(95px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 25px;
}

.dataSummaryDetails {
    width: 84%;
    position: absolute;
    left: 8%;
    height: 54%;
    display: block;
}
.dataSummaryDetails > p {
    position: relative;

    left: 0%;
    top: 18%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    color: #FFFFFF;
}

.spanTotal {
    position: absolute;
    right: 0%;
    top: 32%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #86858A;
}
.spanOGY {
    /* OGY */
    position: absolute;
    right: 0%;
    top: 70%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #86858A;
}
.locked {
    /* Locked */
    position: absolute;
    width: 83%;
    height: 17%;
    left: 9%;
    top: 57%;
    box-sizing: border-box;
    background: #0D0E0E;
    border: 1px solid #141617;
    border-radius: 40.5px;
}
.lockedText {
    /* Locked */
    position: absolute;
    left: 7%;
    top: 34%;
    /* Small_title */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    color: #86858A;
}
.lockedNumber > input {
    /* 4’786’027’383 */
    position: absolute;
    right: 5%;
    top: 32%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    background: #0D0E0E;
    border: none;
    /* identical to box height */
    text-align: right;
    max-width: 60%;
    color: #FFFFFF;
}

.rewards {
    position: absolute;
    width: 83%;
    height: 17%;
    left: 9%;
    top: 77%;

    box-sizing: border-box;
    background: #0D0E0E;
    border: 1px solid #141617;
    border-radius: 40.5px;
}
.rewardsText {
    /* Locked */
    position: absolute;
    left: 7%;
    top: 34%;
    /* Small_title */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    color: #86858A;
}
.rewardsNumber {
    /* 4’786’027’383 */
    position: absolute;
    right: 5%;
    top: 32%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: right;

    color: #FFFFFF;
}

.dataEstimation {
    box-sizing: border-box;
    position: relative;
    display: block;
    height: 24%;
    top: 32px; 
    background: rgba(22, 24, 25, 0.8);
    border: 1px solid #363636;
    backdrop-filter: blur(95px);
    border-radius: 25px;
}

.dataEstimationDetails {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    width: 84%;
    left: 8%;
    top: 18%;
    align-items: center;
}
.dataEstimationDetailsText{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #FFFFFF;
}
.dataEstimationDetailsPercent {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    /* identical to box height */
    text-align: right;
    color: #FFFFFF;
}
.dataEstimationInfo {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    width: 84%;
    left: 8%;
    top: 56%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */


    color: #86858A;
}
.sliderContainer {
    
    position: absolute;
    width: 84%;
    left: 8%;
    top: 64%;

}

.dataRightSide {
    /* Rectangle 14 */
    box-sizing: border-box;
    position: relative;
    width: 64%;
    height: 100%;
    /* top: -38px; */
    background: #151718;
    border: 1px solid #363636;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}
.dataRightSide > p {
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    width: 92%;
    margin-top: 0px;
}

  
  .dataRightSide canvas {
    max-width: 60%;
    max-height: 60%;
    
    width: auto !important;
    height: auto !important;
  }

  .dataRightSide canvas.chartjs-render-monitor {
    width: 40px !important;
  }

  .chartLegend{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
  }
  
  .chartLegendItem {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .chartLegendColor {
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }
  
  .chartLegendLabel {
    font-size: 14px;
    color: #333;
  }





  .chartjs-tooltip {
    position: absolute;
    width: 10%;
    height: 31px;
    background: #141617;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
  }
  
  .tooltipTitle {
    height: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;
  }
  
  .tooltipBody {
    height: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #9474EF;
  }
  
  .percentCircle {
    position: relative;
    width: 27px;
    height: 27px;
    background: #9474EF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
  }
  .coreText {
    position: absolute;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 218%;
    line-height: 43px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
 }

@media screen and (min-width: 860px) {
    .dataSummaryDetails > h3 {
        position: absolute;

        right: 0%;
        top: 45%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 219%;
        line-height: 43px;
        text-align: right;
        margin: 0;
        color: #FFFFFF;

    }
}
@media screen and (max-width: 860px) {
    .dataSummaryDetails > h3 {
        position: absolute;

        right: 0%;
        top: 45%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 100%;
        line-height: 43px;
        text-align: right;
        margin: 0;
        color: #FFFFFF;

    }
}